{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">#}
{#<head>#}
{#	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">#}
{#	<title>天天生鲜-注册</title>#}
{#	<link rel="stylesheet" type="text/css" href="css/reset.css">#}
{#	<link rel="stylesheet" type="text/css" href="css/main.css">#}
{#{% load static %}   {# 导入静态文件 #}
{#<head>#}
{#    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">#}
{#    <title>咚咚锵-注册</title>#}
{#    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">#}
{#    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">#}
{##}
{#	<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>#}
{#	<script type="text/javascript" src="{% static 'js/register.js' %}"></script>#}
{#</head>#}
{#<body>#}
{% extends 'base.html' %}
{% load static %}   {# 导入静态文件 #}
{% block title %}天天生鲜-注册{% endblock title %}
{% block topfiles %}
	<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/register.js' %}"></script>
{% endblock topfiles %}

{% block header_con %}{% endblock header_con %}

{% block search_bar %}{% endblock search_bar %}

{% block body %}
	<div class="register_con">
		<div class="l_con fl">
			<a class="reg_logo"><img src="{% static 'images/logo02.png' %}"></a>
			<div class="reg_slogan">咚咚锵  ·  东东枪</div>
			<div class="reg_banner"></div>
		</div>

		<div class="r_con fr">
			<div class="reg_title clearfix">
				<h1>用户注册</h1>
				<a href="#">登录</a>
			</div>
			<div class="reg_form clearfix">
				<form method="post" action="{% url 'user:register' %}">  <!-- 定义一个 HTML 表单，用于用户输入数据并提交到服务器。注册页面数据是以POST请求方式向服务器发送 -->
                    <!-- 注册优化处理，让显示注册页面和注册数据处理为同一个url地址（/user/register） ，因为显示注册页面为get请求，而注册数据处理为post请求，可以根据请求方式不同来使用同一个url地址-->
				<ul>   <!-- 定义一个无序列表，用于组织表单中的各个输入项 -->
                    <!-- 表单其他字段和内容 -->
					<li>   <!-- 定义一个列表项，用于包含表单中的输入字段和标签 -->
						<label>用户名:</label>
						<input type="text" name="user_name" id="user_name">
						<span class="error_tip">提示信息</span>
					</li>					
					<li>
						<label>密码:</label>
						<input type="password" name="pwd" id="pwd">
						<span class="error_tip">提示信息</span>
					</li>
					<li>
						<label>确认密码:</label>
						<input type="password" name="cpwd" id="cpwd">
						<span class="error_tip">提示信息</span>
					</li>
					<li>
						<label>邮箱:</label>
						<input type="text" name="email" id="email">
						<span class="error_tip">提示信息</span>
					</li>
					<li class="agreement">
						<input type="checkbox" name="allow" id="allow" checked="checked">
						<label>同意”咚咚锵用户使用协议“</label>
						<span class="error_tip2">提示信息</span>
					</li>
					<li class="reg_sub">
						<input type="submit" value="注 册" name="">
					</li>
				</ul>
                    {% csrf_token %} {# 在django中发送POST请求表单数据，防止跨站攻击需在form标签下加上{% csrf_token %} #}
                    <span style="color: red">{{ error_msg }}</span>  {# 数据不合法的情况下，提示错误信息 #}
				</form>
			</div>

		</div>

	</div>

	<div class="footer no-mp">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>CopyRight © 2049 上海咚咚锵信息技术有限公司 All Rights Reserved</p>
		<p>电话：010-****888    沪ICP备*******8号</p>
	</div>
	
{% endblock body %}
{#</html>#}